name: Release
run-name: Release [${{ github.ref_name }}]

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: creo-team/action-release@v1
        with:
          version-source: package-json
          changelog: true
          if-exists: skip
